<br>
<div class="ui segment">
    <h1>Create Event</h1>
    <form class="ui form success error" ng-submit="event.createEvent(eventData);" name="eventForm" novalidate id="eventForm">
      <h4 class="ui dividing header">Basic Info</h4>
      <div class="two fields">
        <div class="ten wide field">
          <label class="ui primary label">Event Name</label>
          <input ng-disabled="event.disabled" placeholder="Full Name" type="text" name="name" ng-model="event.eventData.name" id="name" required>
        </div>

        <div class="six wide field">
          <label class="ui primary label">EventID</label>
          <input ng-disabled="event.disabled" placeholder="UniqueID" type="text" name="id" ng-model="event.eventData.id" id="id">
        </div>
      </div>

      <h4 class="ui dividing header">Event Details</h4>
      <div class="two fields">
        <div class="ten wide field">
          <label class="ui primary label">Venue</label>
          <input ng-disabled="event.disabled" placeholder="Venue" type="text" name="venue" ng-model="event.eventData.venue" id="venue">
        </div>

        <div class="six wide field">
          <label class="ui primary label">Date</label>
          <input ng-disabled="event.disabled" placeholder="Date" type="date" name="date" ng-model="event.eventData.date" id="date">
        </div>
      </div>

      <h4 class="ui dividing header">Seating Details</h4>
      <div class="two fields">
        <div class="four wide field">
          <label class="ui primary label">Number of tables</label>
          <input ng-disabled="event.disabled" placeholder="Tables" type="number" name="tables" ng-model="event.eventData.tables" id="tables">
        </div>
    
        <div class="four wide field">
          <label class="ui primary label">Number of seats</label>
          <input ng-disabled="event.disabled" placeholder="Seats" type="number" name="seats" ng-model="event.eventData.seats" id="seats">
        </div>
      </div>

      <h4 class="ui dividing header">Event Description</h4>
      <div class="field">
        <div class="sixteen wide field">
          <label class="ui primary label">Description</label>
          <textarea rows="4" ng-disabled="event.disabled" placeholder="Description" type="text" name="description" ng-model="event.eventData.description" id="description"></textarea>
        </div>
      </div>
    
      <div class="ui active dimmer" ng-show="event.loading">
        <div class="ui text loader">Looking for Seán FitzPatrick...</div>
      </div>
    
      <div class="ui success message" ng-show="event.successMsg">
        <div class="header">All Set</div>
        <p>{{ event.successMsg }}</p>
      </div>
    
      <div class="ui error message" ng-show="event.failMsg">
        <div class="header">Uh Oh</div>
        <p>{{ event.failMsg }}</p>
      </div>
      <br>
      <button ng-disabled="event.disabled" class="ui huge primary button" type="submit">Create Event</button>
    </form>
    
    
    
    
    