<div class="ui inverted segment">
    <h1>Events</h1>
    <div class="ui form">
        <div class="required nine wide field">
            <div class="ui action input">
                <input ng-model="number" type="text" placeholder="Enteries to display...">
                <button ng-click="event.showMore(number);" class="ui primary  small button">Apply Filter</button>
                <button ng-click="event.showAll();" class="ui primary  small button">Show All</button>
            </div>  
            <br>
            <br>
            <div class="ui icon input">
                <input ng-model="searchKeyword" class="prompt" type="text" placeholder="Search...">
                <i class="search icon"></i>
            </div>
            <a href="/createEvent" class="ui primary large button floated right">Create Event</a>
        </div> 
    
    </div>


    <div class="ui tiny error message" ng-show="event.failMsg">
            <div class="header">Uh Oh</div>
            <p>{{ event.failMsg }}</p>
        </p>
    </div>


    <table id="example" class="ui celled inverted primary table" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Name</th>
            <th>Venue</th>
            <th>Date</th> 
            <th></th>
        </tr>
        </thead>
        <tbody>
            <!-- <tr ng-repeat="event in event.users | filter: searchKeyword | limitTo: event.limit">
                <td>{{ person.name }}</td>
                <td>{{ person.username }}</td>
                <td>{{ person.email }}</td>
                <td>
                    <a href="/edit/{{person._id}}">
                        <button class="ui yellow basic button">Edit</button> 
                    </a>
                    <button ng-click="event.deleteUser(person.username);" class="ui negative basic button right floated">Delete</button>
                </td>
            </tr> -->
            <tr>
                <td>Test Event</td>
                <td>Test Venue</td>
                <td>12-07-2018</td>
                <td >
                     <a ng-show="main.isLoggedIn && main.admin" href="AlsoNowhere">
                        <button class="ui yellow basic button">Edit</button> 
                    </a> 
                    <!-- I added this button - Conor 
                        Should probably look like whats below
                        commented out. Will depend on the code above thats commented out
                        <a href="/viewEvent/{{event.id}}"> 
                        -->
                    <a href="/viewEvent/1">
                        <button class="ui blue basic button">
                            View
                        </button>
                    </a>
					
					<a ng-show="main.isLoggedIn && main.admin" href="Nowhere">
                    	<button class="ui negative basic button">
                       		Delete
                    	</button>
					</a>
                    <!-- Should be only user accesible really.. -->
                	<a ng-show="main.isLoggedIn" href="/purchaseTicket">
						<button class="ui negative basic button">
							Purchase
						</button>
					</a>
				</td>
            </tr>
        </tbody>   
    </table>

    <div class="ui form">
        <div class="required nine wide field">
            <div class="ui action input">
                <input ng-model="number" type="text" placeholder="Enteries to display...">
                 <button ng-click="event.showMore(number);" class="ui primary  small button">Apply Filter</button>
                 <button ng-click="event.showAll();" class="ui primary  small button">Show All</button>
            </div>      
         </div>  
    </div>


    <div class="ui active dimmer" ng-show="event.loading">
        <div class="ui text loader">Looking for Seán FitzPatrick...</div>
    </div>

    <div class="ui success message" ng-show="event.successMsg">
        <div class="header">All Set</div>
        <p>{{ event.successMsg }}</p>
    </div>
</div>



