<div class="ui inverted segment">
    <h1>Guest/Invite List</h1>
    <!-- <div class="ui form">
        <div class="required nine wide field">
            <div class="ui action input">
                <input ng-model="number" type="text" placeholder="Enteries to display...">
                <button ng-click="event.showMore(number);" class="ui primary  small button">Apply Filter</button>
                <button ng-click="event.showAll();" class="ui primary  small button">Show All</button>
            </div>  
            <br>
            <br>
            <div class="ui icon input">
                <input ng-model="searchKeyword" class="prompt" type="text" placeholder="Search...">
                <i class="search icon"></i>
            </div>
        </div> 
    
    </div> -->


 <!--    <div class="ui tiny error message" ng-show="event.failMsg">
            <div class="header">Uh Oh</div>
            <p>{{ event.failMsg }}</p>
        </p>
    </div> -->


    <div class="ui two column middle aligned very relaxed stackable grid">
        <div class="nine wide column">
            <div class="ui icon input">
                <input ng-model="search1" class="prompt" type="text" placeholder="Search...">
                <i class="search icon"></i>
            </div>
            <h2 ng-model="searchWord">Attending</h2>
            <table id="attending" class="ui celled inverted green table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Manage</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="person in viewEvent.invitedUsers | filter: searchWord | filter: search1 | limitTo: manage.limit">
                        <td>{{ person.name }}</td>
                        <td>{{ person.email }}</td>
                        <td>
                            <a href="/edit/{{person._id}}">
                                <button class="ui yellow basic button">Edit</button> 
                            </a>

                            <!-- <button ng-click="event.deleteUser(person.username);" class="ui negative basic button right floated">Delete</button> 

                                not sure if we want to delete user

                            -->

                            <button class="ui negative basic button right floated">Delete</button>
                        </td>
                    </tr>
                </tbody>   
            </table>   
        </div>

        <!-- <div class="column"></div> -->
   



        <div class="seven wide column">
            <div class="ui icon input">
                <input ng-model="search2" class="prompt" type="text" placeholder="Search..."> 
                <i class="search icon"></i> 
            </div>
            <h2 ng-model="searchKey">Invited</h2>        
            <table id="invited" class="ui celled inverted grey table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Manage</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="person in manage.users | filter: searchKey | filter: search2 | limitTo: manage.limit">
                        <td>{{ person.name }}</td>
                        <td>{{ person.email }}</td>
                        <td>
                            <a href="/edit/{{person._id}}">
                                <button class="ui yellow basic button">Edit</button> 
                            </a>

                            <!-- <button ng-click="event.deleteUser(person.username);" class="ui negative basic button right floated">Delete</button> 

                                not sure if we want to delete user -->

                           

                            <button class="ui negative basic button right floated">Delete</button>
                        </td>
                    </tr> 
                    
                </tbody>   
            </table>
        </div>
    </div>
    
     

    <!-- <div class="ui form">
        <div class="required nine wide field">
            <div class="ui action input">
                <input ng-model="number" type="text" placeholder="Enteries to display...">
                 <button ng-click="event.showMore(number);" class="ui primary  small button">Apply Filter</button>
                 <button ng-click="event.showAll();" class="ui primary  small button">Show All</button>
            </div>      
         </div>  
    </div> -->


    <!-- <div class="ui active dimmer" ng-show="event.loading">
        <div class="ui text loader">Looking for Seán FitzPatrick...</div>
    </div> -->

    <!-- <div class="ui success message" ng-show="event.successMsg">
        <div class="header">All Set</div>
        <p>{{ event.successMsg }}</p>
    </div> -->
</div>
