<div class="ui inverted segment">
    <h2 class="ui header">General Information</h2>

    <table id="example" class="ui celled inverted primary table" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Event Name</th>
                    <th>Venue</th>
                    <th>Date</th>
                    <th>Tables</th>
                    <th>Seats</th>
                    <th>Menu</th>
                    <th>Dietary</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>{{viewEventUser.name}}</th>
                    <th>{{viewEventUser.venue}}</th>
                    <th>{{viewEventUser.date}}</th>
                    <th>{{viewEventUser.tables}}</th>
                    <th>{{viewEventUser.seats}}</th>
                    <th><a target="_blank" href={{viewEventUser.menu}}>Menu</a></th>
                    <th>{{viewEventUser.dietary}}</th>
                </tr>
            </tbody>
        </table>
        <br>
        <div class="buttons">
            <a ng-show="!viewEventUser.attending" ng-click="viewEventUser.RSVP();">
                <button  ng-disabled="viewEventUser.disabled" class="ui positive basic button">RSVP to this event </button>
            </a>
    
            <a ng-show="viewEventUser.attending" ng-click="viewEventUser.unRSVP();">
                <button  ng-disabled="viewEventUser.disabled" class="ui negative basic button">Un-RSVP to this event </button>
            </a>
    
            <a href="/purchaseTicket/{{viewEventUser.eventId}}">
                <button  ng-disabled="viewEventUser.disabled" class="ui primary basic button">Purchase Ticket  </button>
            </a>
        </div>
        <br>
        <div class="buttons">
            <a href="/eventLiveTracker/{{viewEventUser.eventId}}">
                <button ng-disabled="viewEventUser.disabled" class="ui primary basic button" >View Live Tracker</button>
            </a>
    
            <a href="/donate/{{viewEventUser.eventId}}">
                <button  ng-disabled="viewEventUser.disabled" class="ui primary basic button">Donate to Event</button>
            </a>
        </div>
        <br>
        <h2 ng-show="viewEventUser.attending" class="ui header">You're attending this event!</h2>
</div>
