<h1>Change Password</h1>
<p></p>
<div class="ui inverted segment">
<form class="ui form success error" ng-submit="editPwd.changePassword(pwdData);">
  <div class="three fields">
    <br>
    <div class="field">
      <label class="ui black label">Username</label>
      <input ng-disabled="editPwd.disabled" placeholder="Username" type="text" name="username" ng-model="editPwd.pwdData.username">
    </div>
    <div class="field">
      <label class="ui black label">Old Password</label>
      <input ng-disabled="editPwd.disabled" placeholder="Old Password" type="password" name="oldPassword" ng-model="editPwd.pwdData.oldPassword">
    </div>
    <div class="field">
      <label class="ui black label">New Password</label>
      <input ng-disabled="editPwd.disabled" placeholder="Password" type="password" name="newPassword" ng-model="editPwd.pwdData.newPassword">
    </div>
  </div>

  <div class="ui active dimmer" ng-show="editPwd.loading">
    <div class="ui text loader">Looking for Seán FitzPatrick...</div>
  </div>

  <div class="ui success message" ng-show="editPwd.successMsg">
    <div class="header">All Set</div>
    <p>{{ editPwd.successMsg }}</p>
  </div>

  <div class="ui error message" ng-show="editPwd.failMsg">
    <div class="header">Uh Oh</div>
    <p>{{ editPwd.failMsg }}</p>
  </div>

  <button ng-disabled="editPwd.disabled" class="ui huge primary button" type="submit">Edit</button>
</form>