<div class="ui segment">
    <h1>Create Email (All users)</h1>
    <form class="ui form success error" ng-submit="mailAll.sendEmail(emailData);" name="emailForm" novalidate id="emailForm">
        <!-- // Subject entry -->
        <div class="sixteen wide field">
            <label class="ui primary label">
                Subject:
                <div class="ui icon mini button" data-content="Subject line for your email" data-variation="basic">
                    <i class="help icon"></i>
                </div>
            </label>
            <input ng-disabled="mailAll.disabled" placeholder="Subject" type="text" name="subject" ng-model="mailAll.emailData.subject" id="subject"
                required>
        </div>
        
        <!-- // Body -->
        <div class="field">
            <div class="sixteen wide field">
                <label class="ui primary label">
                    Body
                    <div class="ui icon mini button" data-content="This is the body of your email. Supports both html and plain text"
                        data-variation="basic">
                        <i class="help icon"></i>
                    </div>
                </label>
                <textarea rows="12" ng-disabled="mailAll.disabled" placeholder="Body" type="text" name="body" ng-model="mailAll.emailData.body"
                    id="body"></textarea>

            </div>
        </div>
         <div class="ui success message" ng-show="mailAll.successMsg">
          <div class="header">All Set</div>
          <p>{{ mailAll.successMsg }}</p>
        </div>

        <div class="ui error message" ng-show="mailAll.failMsg">
          <div class="header">Uh Oh</div>
          <p>{{ mailAll.failMsg }}</p>
        </div>
        <button ng-disabled="mailAll.disabled" class="ui huge primary button" type="submit">Send Email</button>
    </form>
</div>

<script>
    $(function () {
        $('.ui.dropdown').dropdown();
    });

    // TODO: Move this dragon somewhere not so visable
    $(document)
      .ready(function() {
      (function ($) {
        $('.icon')
          .popup()
        ;
      }(jQuery));
    });
</script>