<div class="ui inverted segment">
<form class="ui form success error" ng-submit="main.doLogin(loginData);">
  <div class="two fields">
  	<br>
    <div class="field">
      <label class="ui black label">Username</label>
      <input ng-disabled="main.disabled" placeholder="Username" type="text" name="username" ng-model="main.loginData.username">
    </div>
    <div class="field">
      <label class="ui black label">Password</label>
      <input ng-disabled="main.disabled" placeholder="Password" type="password" name="password" ng-model="main.loginData.password">
    </div>
  </div>

  <div class="ui active dimmer" ng-show="main.loading">
    <div class="ui text loader">Looking for Seán FitzPatrick...</div>
  </div>

  <div class="ui success message" ng-show="main.successMsg">
    <div class="header">All Set</div>
    <p>{{ main.successMsg }}</p>
  </div>
  
  <button ng-disabled="main.disabled" class="ui huge primary button" type="submit">Login</button>
  
  <div class="ui error message" ng-show="main.failMsg">
    <div class="header">Uh Oh</div>
    <p>{{ main.failMsg }}</p>
    <p ng-show="main.linkFail">
      <a href="/resend">
        <button class="ui medium primary button"><i class="mail outline icon"></i>Resend Activation Email</button>
      </a>
    </p>
  </div>

  <br>
  <br>
  <a href="/resetUsername"><button ng-disabled="main.disabled" class="ui medium secondary inverted button" type="button">Forgot Username?</button></a>
  <a href="/resetUsername"><button ng-disabled="main.disabled" class="ui medium secondary inverted button" type="button">Forgot Password?</button></a>
</form>
</div>



