<div class="ui text">
	<h1>{{main.username}}'s profile </h1>

	<table class="ui inverted primary table">
		<thead>
		  <th><a><i class="edit primary icon"></i></a>&nbsp Name</th>
	      <th><a><i class="edit primary icon"></i></a>&nbsp Username</th>
	      <th><a><i class="edit primary icon"></i></a>&nbsp Email</th>
	      <th><a href="/editPassword"><i class="edit primary icon"></i></a>&nbsp Password<th> 
	    </tr>
		</thead><tbody>
			<tr>
				<td>{{ main.fullname }}</td>
	    		<td>{{ main.username }}</td>
	    		<td>{{ main.useremail }}</td>
	    		<td>***********</td>
	    	</tr>
		</tbody>   
	</table>
</div>
