<div class="ui inverted segment">
        <h1>Edit User</h1>
        
        <div class="ui top attached tabular menu inverted">
            <a ng-click="edit.namePhase();" ng-class="nameTab" class="active item" data-tab="first">Name</a>
            <a ng-click="edit.usernamePhase();" ng-class="usernameTab" class="item" data-tab="second">Username</a>
            <a ng-click="edit.emailPhase();" ng-class="emailTab" class="item" data-tab="third">E-Mail</a>
            <a ng-click="edit.PermissionPhase();" ng-class="permissionTab" class="item" data-tab="fourth">Permissions</a>
        </div>
        <div class="ui bottom attached active tab segment" data-tab="first">
            <form class="ui form success error" ng-submit="edit.updateName(newName);" name="nameForm" novalidate id="nameForm">
                <div class="field">
                    <label class="ui label">Edit Full Name</label>
                    <input ng-disabled="edit.disabled" placeholder="Full Name" type="text" name="name" ng-model="newName" id="name" required>
                </div>
                <button ng-disabled="edit.disabled" class="ui small primary button" type="submit">Update</button>
            </form>
        </div>
        <div class="ui bottom attached tab segment" data-tab="second">
            <form class="ui form success error" ng-submit="edit.updateUsername(newUsername);" name="usernameForm" novalidate id="usernameForm">
                <div class="field">
                    <label class="ui label">Edit Username</label>
                    <input ng-disabled="edit.disabled" placeholder="Username" type="text" name="name" ng-model="newUsername" id="username" required>
                </div>
                <button ng-disabled="edit.disabled" class="ui small primary button" type="submit">Update</button>
            </form>
        </div>
        <div class="ui bottom attached tab segment" data-tab="third">
            <form class="ui form success error" ng-submit="edit.updateEmail(newEmail);" name="emailForm" novalidate id="emailForm">
                <div class="field">
                    <label class="ui label">Edit Email</label>
                    <input ng-disabled="edit.disabled" placeholder="Email" type="text" name="email" ng-model="newEmail" id="email" required>
                </div>
                <button ng-disabled="edit.disabled" class="ui small primary button" type="submit">Update</button>
            </form>
        </div>
        <div class="ui bottom attached tab segment" data-tab="fourth">
                <div class="ui primary image medium label">
                        Current Permission:
                    <div class="detail"><strong>{{newPermission}}</strong></div>
                </div>
                <br>
                <br>
                <div class="ui three column grid">
                    <div class="row">
                        <div class="column"><button ng-click="edit.updatePermission('user');" class="ui green large button">User</button> </div>
                        <div class="column"><button ng-click="edit.updatePermission('host');" class="ui blue large button">Host</button></div>
                        <div class="column"><button ng-click="edit.updatePermission('admin');" class="ui red large button">Admin</button></div>
                    </div>
                </div>
        </div>

        <div class="ui success message" ng-show="edit.successMsg">
            <div class="header">All Set</div>
            <p>{{ edit.successMsg }}</p>
        </div>

        <div class="ui error message" ng-show="edit.failMsg">
            <div class="header">Uh Oh</div>
            <p>{{ edit.failMsg }}</p>
        </div>

</div>



<script>
    $('.menu .item').tab();
</script>

<script>
  // TODO: Move this dragon somewhere not so visable
  $(document)
    .ready(function() {
    (function ($) {
      $('#nameForm').form({
        name: {
          identifier: 'name',
          rules: [{
            type: 'empty',
            prompt: 'Please enter your First and Last names'
          },{
            type: 'minLength[4]',
            prompt: 'Name must be more than 4 charecters'
          },{
            type: 'maxLength[50]',
            prompt: 'Name must be less than 50 charecters'
          },{
            type: 'regExp',
            value: /^(([a-zA-Z]{2,20})+[ ]+([a-zA-Z-]{2,20})*)+$/,
            prompt: 'Enter your full name in form "John Doe" or "Mary Lee-Smith'
          }]
        }
      }, {
        on: 'blur',
        inline: 'true'
      });
    }(jQuery));
  });
</script> 

<script>
  // TODO: Move this dragon somewhere not so visable
  $(document)
    .ready(function() {
    (function ($) {
      $('#emailForm').form({
        email: {
          identifier: 'email',
          rules: [{
            type: 'empty',
            prompt: 'Please enter your email'
          },{
            type: 'email',
            prompt: 'Please enter a valid email'
          },{
            type: 'minLength[3]',
            prompt: 'Email must be more than 3 charecters'
          },{
            type: 'maxLength[60]',
            prompt: 'Email must be less than 60 charecters'
          }]
        }
      }, {
        on: 'blur',
        inline: 'true'
      });
    }(jQuery));
  });
</script> 


<script>
  // TODO: Move this dragon somewhere not so visable
  $(document)
    .ready(function() {
    (function ($) {
      $('#usernameForm').form({
        username: {
          identifier: 'username',
          rules: [{
            type: 'empty',
            prompt: 'Please enter a username'
          },{
            type: 'minLength[3]',
            prompt: 'Name must be more than 3 charecters'
          },{
            type: 'maxLength[40]',
            prompt: 'Name must be less than 25 charecters'
          }]
        }
      }, {
        on: 'blur',
        inline: 'true'
      });
    }(jQuery));
  });
</script> 